header{
    height: 3rem;
}

.logo{
    margin-left: 8rem;
    margin-top: 1rem;
}

.nav{
    text-align: center;
    margin-top: -37px;
    position: relative;
}

a{
    color: black;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover{
    background-color: rgb(136, 136, 190);
    transition: 2s;
    border-radius: 5px;
    
}

.button{
    margin-top: -21px;
    margin-left: 21rem;
}
.search{
    margin-left: 60rem;
    margin-top: -34px;
    position: relative;
}


.head{
    margin-left: 20rem;
    position: relative;
    margin-top: -24rem;
    color: white;
}

.but{
    margin-left: 11rem;
    margin-top: 3rem;
}

.services{
    margin-top: 12rem;
    margin-left: 34rem;
    color: white;
    position: absolute;
    border: 1px solid black;
    background-color: #5656d1;
    font-size: 9px;
    width: 5rem;
    height: 17px;
}

.icon-flex{
    color: black;
    display: flex;
    font-size: 27px;
    flex-wrap: nowrap;
    padding: 5rem;
    justify-content: space-around;
}

.fa-solid{
    font-size: 50px;
}







