.head{
    background-color: #30a171;
    text-align: center;
    color: white;
    position: relative;
    height: 5rem;
}

.bar2{
    display: flex;
    background-color: #30a171;
    margin-top: 20px;
    height: 450px;
    width: 250px;
}

.sidebar{
    padding: 72px;
    margin-top: 6rem;
    color: white;
}

.content{
    position: absolute;
    margin-left: 17rem;
    width: 937px;
    height: 28rem;
    background-color: #30a171;
    text-align: center;
}

footer{
    background-color: #30a171;
    color: white;
    text-align: center;
    height: 54px;
}