.condainer{
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin-left: 30rem;
    margin-top: 5rem;
    border: 0px solid;
    background-color: beige;
    padding: 2rem;
    height: 22rem;
}

.john{
    margin-left: 5rem;
}

.para{
    font-size: 11px;
    text-align: -webkit-center;
}

.icons{
    display: flex;
    justify-content: space-around;
    color: brown;
    margin-top: 20px;
}