body{
    background-color: black;
}

.condainer{
    margin-left: 23rem;
    margin-top: 8rem;
}

h1{
    color: white;
    font-size: 45px;
    font-family: math;
    font-weight: bold;
}

.images{
    display: flex;
}

img{
    width: 12rem;
    height: 9rem;
}